<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel= "stylesheet" href="/css/style.css" >
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Created by {{name}} </p>
            <h1>Use this site to get weather!</h1>

            <form>
                <input placeholder="Location" type='text' name= "username"> 
                <input type="submit" value="search" >
            </form>

            <p id ="message-1" > </p>
            <p id ="message-2" > </p>
            
        </div>

        {{>footer}}
        <script src="/js/app.js" > </script>
    </body>
</html>
